.character-info {
  justify-content: center;
  flex: 1;
}

.hola {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 200, 214);
  padding: 1rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 355px;
  max-width: 420px;
  min-height: 630px;
  max-height: 700px;
  border: 1px solid black;
  border-radius: 1rem;
}

/* Character description */
.description {
  /* background-color: violet; */
  padding: 0 1rem;
}

/* Submit */
.submit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.submit h3 {
  margin: 0;
}

.form {
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  width: 45%;
  font-size: 1.2rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

/* Card buttons */

.card--buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Share result */
.share {
  display: flex;
  gap: 15px;
}

.share a {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.button1 {
  flex: 1;
  background-color: white /*#3a10e5;*/;
  color: black /*#ffffff*/ !important;
  font-weight: 400;
  padding: 10px;
  border: 0.1rem solid rgb(250, 119, 255); /*#3a10e5;*/
  border-radius: 0.3rem;
  font-size: 1.25rem;
  border: 1px solid black;
}

.button1:hover {
  transition: all 0.3s;
  background-color: rgb(255, 240, 190);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .character-info {
    margin: 0 1rem;
  }
  .hola {
    min-width: 50%;
    min-height: 100vh;
  }
  .picture {
    min-height: 100vh;
  }
  span {
    font-size: 14px;
  }
  .button1 {
    height: 15px;
  }
}

@media screen and (max-width: 350px) {
  .MyJojo h2 {
    font-size: 2rem;
  }
  .MyJojo h3 {
    font-size: 1rem;
  }

  .hola {
    min-height: 60vh;
  }
  .character-info {
    min-width: 30%;
  }
  span {
    font-size: 10px;
  }
  #txtbox {
    font-size: 14px;
    width: 50px;
  }
}
