.results {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 1240px) {
  .results {
    max-width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .results {
    max-width: 90%;
  }
}
