/* Progress Bar*/
.progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.progress-step {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 1rem;
  border: 1px solid black;
  transition: background-color 0.1s;
}

.progress-step.active {
  background: rgb(250, 119, 255);
}