main {
    padding: 0 0.3rem;
}

.Quiz {
    border-radius: 10px;
    background-color: rgb(255, 200, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    max-width: 650px;
    max-height: 770px;
    padding: 30px;
    position: relative;
    border: 1px solid black;
}

/* Progress Bar*/
.progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}

.progress-step {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    /* So they're not positioned as a column*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 1rem;
    border: 1px solid black;
    transition: background-color 0.1s;
}

.progress-step-active {
    background: rgb(250, 119, 255);
}

/* Title */
.question-number {
    margin-top: 0.4rem;
    font-size: 1.25rem;
}

.question-title {
    /* background-color: aqua; */
    width: 480px;
}


/* Card */
.card {
    margin: auto;
    margin-bottom: 1rem;
    width: 475px;
    height: 320px;
    perspective: 2500px;
    display: flex;
    /* background-color: #ffffff; */
  }

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }


.card-inner.is-flipped {
	transform: rotateY(180deg);
}

.box {
    max-width: 500px;
    /* background-color: aqua; */
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
  }

.card .front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .back {
    background-color: white;
    transform: rotateY(180deg);
}

.card .back .content {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 3.5rem auto;
}

.card .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Buttons */
 button {
    text-decoration: none;
    
    font-size: 1.1rem;
    line-height: 0.5rem;
    position: relative;
    width: auto;
    max-width: 500px;
    height: 50px;
    margin: 5px 0px;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.1s ease;
    z-index: 1;
}

button::before, button::after {
    content: '';
    position: absolute;

    border-radius: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.1s ease;
}

button:hover {
    transform: translate(1px, -1px);
    background-color: rgb(255, 240, 190);
    box-shadow: -3px 3px 0 black;
    border-radius: 5px;
}

button:hover::after {
    transform: translate(-3px, 3px);
}

button:hover::before {
    transform: translate(-3px, 3px);
}

.answers {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /*background-color: yellowgreen;*/    
}


.answers button:focus {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 200, 25);
    transform: translate(2.5px, -2.5px);
    box-shadow: -3px 3px 0 rgb(0, 0, 0);
    transition: transform 0.1s ease;
}

.back-next button {
    background-color: rgb(250, 119, 255);
    padding: 20px 50px;
}

.back-next {
    margin-top: 0.5rem;
    /*background-color: brown;*/
}

.mid-game, .final-game {
    display: flex;
    align-items: center;
    position: relative;
}

.back {
    margin-right: auto;
}

/* Label */
label {
    color: red;
}

.error {
    margin-top: 1rem;
}