.result {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;

  border-radius: 10px;
  background-color: rgb(255, 200, 214);
  border: 1px solid black;
}

.result--img img {
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
}

.result--text {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: auto;
}

.result--name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.result--name h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

.result--name h3 {
  font-size: 26px;
}

.result--name h3::first-letter {
  text-transform: uppercase; /* Capitalizar la primera letra */
}

.result h4 {
  letter-spacing: 4px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1240px) {
  .result--name h2 {
    font-size: 26px;
  }

  .result--name h3 {
    font-size: 22px;
  }
  .result h4 {
    font-size: 14px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 650px) {
  .result--img img {
    width: 60px;
  }

  .result--name h2 {
    font-size: 20px;
  }

  .result--name h3 {
    font-size: 18px;
  }
  .result h4 {
    font-size: 10px;
    letter-spacing: 2.5px;
  }
}
