/*Que los enlaces no esten subrayados*/
a:link, a:visited, a:active {
    text-decoration:none; /*que ningun link tenga decoracion (subrayado x ej)*/
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    top: 0;
    border-bottom: 2px solid black;
    position: relative;
    font-size: 1.3rem;
    font-weight: 550;  
}

.navbar-logo {
    margin-right: auto;
    margin-left: 1.1rem;
}

.navbar-menu {
    margin-right: 1.1rem;
}

.navbar-item {
    list-style: none;
    display: inline-block;
}

.navbar-link {
    color: black;
    display: flex;
    padding: 0.5rem;
    margin: auto 2rem;
    height: 100%;
}

a:hover {
    color: #3a10e5;
	transition: all .3s;
}

.navbar-logo:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}